@use "../../mixins/mixins";
@use "../../tokens/tokens";

%container {
  // base styles
}

.container {
  @extend %container;

  &-navigation {
    @extend %container;
    @include mixins.container();
    @include mixins.flex(row, center, center);
  }

  &-hero {
    @extend %container;
    @include mixins.container();
    @include mixins.flex(column, center, center, 2);
  }

  &-about {
    @extend %container;
    @include mixins.container();
    display: grid;
    gap: 2rem;
    margin: 0 auto;

    & > * {
      flex: 1;
    }

    @media (min-width: 81.25rem) {
      grid-template-columns: 1fr 1fr;
      gap: 6rem;
    }
  }

  &-buttons {
    @extend %container;
    @include mixins.flex(row, center, center, 1);

    @media (min-width: tokens.$bp-hero) {
      @include mixins.flex(row, center, center, 2);
    }
  }

  &-image {
    @extend %container;
  }
}
