@use "../../mixins/mixins" as mixins;
@use "../../tokens/tokens" as tokens;

%list {
  @include mixins.reset-list();
}

.list {
  @extend %list;

  &-navigation {
    @extend %list;
    display: none;

    @media (min-width: tokens.$bp-main-nav) {
      @include mixins.flex(row, center, center, 4);
    }
  }

  &-banner {
    @extend %list;
    @include mixins.flex(column, center, center);
    text-align: center;
    gap: 5rem;

    @media (min-width: 62.5rem) {
      @include mixins.flex(row, center, space-between);
    }
  }

  &-partners {
    @extend %list;
    @include mixins.flex(row, center, center, 7, wrap);

    @media (min-width: 75rem) {
      @include mixins.flex(row, center, space-between, 7, wrap);
    }
  }
}
