@use "../../mixins/mixins" as mixins;
@use "../../tokens/tokens" as tokens;

%navigation {
  // base styles
}

.navigation {
  @extend %navigation;

  &-main {
    @extend %navigation;
    @include mixins.flex(row, center, space-between);
    padding-block: 1rem;
    font-size: 1.25rem;
    flex: 1;
  }
}
