*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/**
 * Sets the element's display property to flex.
 * 
 * @param {string} $direction - The direction of the flex element. (row, column)
 * @param {string} $alignItems - The alignment of items in either the x or y axis. (flex-start, center, space-between)
 * @param {string} $justifyContent - The alignment of items in either the x or y axis. (flex-start, center, space-between)
 * @param {number} $gap - The gap between child elements. (any number)
 * @param {number} $wrap - Whether the flex element wraps or not. (boolean)
 */
/* This mixin is for call to action buttons/anchors
   Doesn't necessarily have to be a button */
/**
 * Sets container styling for a page.
 * 
 * @param {string} $type - The type of page. (generic, landing, login)
 */
html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.button-form[type=submit], .button-popup, .button {
  font-weight: 500;
  border: transparent;
  cursor: pointer;
}

.button-popup {
  text-decoration: underline;
  color: #662dbc;
  background-color: transparent;
}
.button-form[type=submit] {
  margin-top: 1rem;
  min-width: 100%;
}

.heading-section-about, .heading-section {
  font-size: 1.75rem;
  font-weight: 500;
}

.heading-main {
  font-size: clamp(2.75rem, 3.125vw, 3.5rem);
  font-weight: 600;
  line-height: 1;
}
.heading-section {
  text-align: center;
}
.heading-section-about {
  text-align: left;
}
.heading-banner {
  font-size: 3.5rem;
  font-weight: 500;
}
.heading-card {
  font-size: 1.25rem;
  font-weight: 500;
}
.heading-footer-list {
  font-weight: 500;
}
.heading-popup {
  font-size: 1.25rem;
  font-weight: 500;
}

.link-brand, .link-cta, .link, .link-footer, .link-address, .link-no-underline, .link-rounded {
  color: inherit;
}
.link-footer, .link-address, .link-no-underline, .link-rounded {
  text-decoration: none;
}

.link-cta {
  padding: 0.75rem 3rem;
  border-radius: 0.25rem;
  background-color: #662dbc;
  text-decoration: none;
  color: white;
}
.link-brand {
  color: #662dbc;
}
.link-rounded {
  padding: 0.8125rem 1.25rem;
  border: 1px solid lightgrey;
  border-radius: 2rem;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}
.link-rounded .highlight {
  color: #662dbc;
}
.link-address {
  display: block;
}
.link-footer {
  margin-block: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
}

.paragraph-hero {
  max-width: 60ch;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.65);
}
.paragraph-content {
  margin-block: 0.75rem;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.65);
}
.paragraph-banner {
  font-size: 1.25rem;
}
.paragraph-card-title {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
}
.paragraph-card-description {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.65);
  /*
   * Limits description to 5 lines, addes ellipses if more than 5
   */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.paragraph-popup {
  max-width: 40ch;
  color: rgba(0, 0, 0, 0.65);
}

.image-card-blog, .image-card-team, .image-card {
  margin-bottom: 1.5rem;
}

.image-about {
  width: 100%;
  max-height: 32.5rem;
  object-fit: cover;
  object-position: top;
  border-radius: 0.25rem;
}
.image-partner {
  max-width: 12.5rem;
}
.image-card-team {
  max-width: 4.25rem;
  border-radius: 100%;
}
.image-card-blog {
  width: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}
.image-logo {
  max-height: 3.5rem;
  border-radius: 50%;
  border: 1px solid lightgrey;
}
@media (min-width: 62.5rem) {
  .image-logo {
    max-height: 4.5rem;
  }
}

.address-footer {
  margin-top: 2rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}

.list-item-card-blog, .list-item-card-team, .list-item-card {
  border-radius: 0.25rem;
}

.list-item-card-team {
  padding: 1.75rem;
  box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
}
.list-item-card-social {
  max-width: 1.75rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid lightgrey;
}
.list-item-footer {
  margin-block: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
}

.input {
  min-width: 100%;
  padding: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
}
.input:focus {
  outline: 2px solid #662dbc;
}

.label {
  align-self: start;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  min-width: 100%;
}

.list-cards-socials, .list-cards, .list-partners, .list-banner, .list-navigation, .list {
  list-style-type: none;
  padding: 0;
}

.list-navigation {
  display: none;
}
@media (min-width: 40.625rem) {
  .list-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: nowrap;
  }
}
.list-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: nowrap;
  text-align: center;
  gap: 5rem;
}
@media (min-width: 62.5rem) {
  .list-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    flex-wrap: nowrap;
  }
}
.list-partners {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
}
@media (min-width: 75rem) {
  .list-partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
    flex-wrap: wrap;
  }
}
.list-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}
.list-cards > * {
  flex: 1 1 22.5rem;
}
.list-cards-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: nowrap;
  margin-top: 2rem;
}

.card {
  border-radius: 0.25rem;
  background-color: white;
  transition: all 0.125s ease-in-out;
  flex-basis: 100%;
}
@media (min-width: 37.5rem) {
  .card {
    flex: 1 1 22.5rem;
    max-width: 30rem;
  }
}
.card:hover {
  transform: translateY(-0.25rem);
}
.card .card__image {
  margin-bottom: 1.5rem;
}
.card header {
  margin-bottom: 0.5rem;
}
.card header .card__overline {
  font-size: 0.8125rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
.card header .card__heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: black;
}
.card .card__description {
  font-size: 1.125rem;
  display: -webkit-box;
  /* set the display type to box */
  -webkit-line-clamp: 5;
  /* set the maximum number of lines */
  -webkit-box-orient: vertical;
  /* set the orientation to vertical */
  overflow: hidden;
  /* hide the overflowing text */
  text-overflow: ellipsis;
  /* add ellipses if the text overflows */
}

.card.card-team {
  padding: 2rem;
  box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
}
.card.card-team .card__image {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 100%;
}
.card.card-team .socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: nowrap;
  margin-top: 2rem;
}
.card.card-team .socials .social {
  text-decoration: none;
  padding: 0.25rem;
  max-width: 1.75rem;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
}

.card.card-blog .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.container-section-banner, .container-section {
  max-width: 81.25rem;
  padding-inline: 1rem;
  flex: 1;
  margin: 0 auto;
}

.container {
  /*
   * For Hero component for now, refactor if need to be more general later
   */
}
.container-navigation {
  max-width: 81.25rem;
  padding-inline: 1rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: nowrap;
}
.container-hero {
  max-width: 81.25rem;
  padding-inline: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
}
.container-section-banner {
  padding-inline: 2rem;
}
.container-about {
  max-width: 81.25rem;
  padding-inline: 1rem;
  flex: 1;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
}
.container-about > * {
  flex: 1;
}
@media (min-width: 81.25rem) {
  .container-about {
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
}
.container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  min-width: 100%;
  text-align: center;
  /*
   * When main navigation appears
   */
}
.container-buttons > * {
  min-width: 100%;
}
@media (min-width: 40.625rem) {
  .container-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: nowrap;
    min-width: fit-content;
  }
  .container-buttons > * {
    min-width: fit-content;
  }
}
.navigation-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0rem;
  flex-wrap: nowrap;
  padding-block: 1rem;
  font-size: 1.25rem;
  flex: 1;
}

/*
 * This is the simpler version of the headers component.
 * Used mainly for cards and introductory content that contains simple atoms.
 */
.header-simple {
  /*
   * Since &-card and &-footer-list are the same, would make sense
   * to rename it to be context-agnostic, eg &-small
   */
}
.header-simple-hero {
  min-width: 100%;
}
@media (min-width: 40.625rem) {
  .header-simple-hero {
    min-width: fit-content;
  }
}
.header-simple-section {
  margin-bottom: 4rem;
}
.header-simple-section-about {
  margin-bottom: 1rem;
}
.header-simple-card {
  margin-bottom: 0.5rem;
}
.header-simple-footer-list {
  margin-bottom: 0.5rem;
}

.about {
  font-size: 1.25rem;
}
.about .max-width {
  display: grid;
  gap: 1rem;
  place-items: center end;
}
.about .max-width .image__container {
  width: 100%;
  height: 100%;
  max-height: 30rem;
}
.about .max-width .image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
}
@media (min-width: 75rem) {
  .about .max-width .image__container {
    max-height: 32.5rem;
  }
}
@media (min-width: 75rem) {
  .about .max-width {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
}

.cards {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-wrap: nowrap;
}
@media (min-width: 65.625rem) {
  .cards {
    flex-direction: row;
  }
}

.footer {
  background-color: #f8f4fd;
  padding-top: 5rem;
}
@media (min-width: 62.5rem) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    flex-wrap: nowrap;
  }
}

.footer .navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
}
.footer .navigation > * {
  flex: 1;
}
.footer .navigation header {
  margin-bottom: 0.5rem;
}
.footer .navigation header h3 {
  font-weight: 500;
}
.footer .navigation ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: nowrap;
}
.footer .navigation .contact img {
  margin-bottom: 2rem;
}
.footer .navigation .contact address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  font-style: normal;
}
@media (min-width: 62.5rem) {
  .footer .navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
    flex-wrap: nowrap;
  }
}

.footer .copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0rem;
  flex-wrap: nowrap;
  padding-block: 3rem;
}
@media (min-width: 62.5rem) {
  .footer .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    flex-wrap: nowrap;
  }
}

/*
 * This is the complex version of the headers component.
 * Used mainly for navigation, where multiple molecules can be stored.
 */
.header-complex-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: nowrap;
}

.section-banner, .section-about, .section-hero, .section {
  padding-block: 2.5rem;
}
@media (min-width: 62.5rem) {
  .section-banner, .section-about, .section-hero, .section {
    padding-block: min(5vw, 5rem);
  }
}

.section-hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  text-align: left;
  font-size: 1.25rem;
}
@media (min-width: 40.625rem) {
  .section-hero {
    text-align: center;
    min-height: 70vh;
  }
}
.section-banner {
  margin-inline: 1rem;
  background-color: #f8f4fd;
  border-radius: 0.25rem;
}
.section-footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
}
@media (min-width: 46.875rem) {
  .section-footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
  }
}
.section-footer-copywrite {
  padding-block: 3rem;
}
.section-footer-copywrite p {
  max-width: fit-content;
  margin: 0 auto;
}

.popup[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
  z-index: 1000;
  min-width: 100%;
}
@media (min-width: 50rem) {
  .popup[open] {
    min-width: fit-content;
    margin-bottom: 1rem;
  }
}

.form-login, .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.form-login {
  min-width: 80%;
}
@media (min-width: 62.5rem) {
  .form-login {
    min-width: 30rem;
  }
}

.page {
  display: grid;
  min-height: 100%;
}
.page .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: nowrap;
}
.page .side-content {
  display: none;
  background-color: #662dbc;
}
@media (min-width: 62.5rem) {
  .page .side-content {
    display: block;
  }
}
@media (min-width: 62.5rem) {
  .page {
    grid-template-columns: 60% 40%;
  }
}

/*# sourceMappingURL=login.css.map */
