@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/**
 * Sets the element's display property to flex.
 * 
 * @param {string} $direction - The direction of the flex element. (row, column)
 * @param {string} $alignItems - The alignment of items in either the x or y axis. (flex-start, center, space-between)
 * @param {string} $justifyContent - The alignment of items in either the x or y axis. (flex-start, center, space-between)
 * @param {number} $gap - The gap between child elements. (any number)
 */
/* This mixin is for call to action buttons/anchors
   Doesn't necessarily have to be a button */
/**
 * Sets container styling for a page.
 * 
 * @param {string} $type - The type of page. (generic, landing, login)
 */
html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.max-width {
  max-width: 81.25rem;
  padding-inline: 1rem;
  padding: 0 1rem 0 1rem;
  padding-inline: 1rem;
  flex: 1;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  line-height: 1.25;
  margin-bottom: 2rem;
}
.section__header h2 {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}
.section__header p {
  color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 62.5rem) {
  .section__header {
    margin-bottom: 4rem;
  }
}

.content-paragraph {
  color: rgba(0, 0, 0, 0.6);
  margin: 0.5rem 0 0.5rem 0;
}

.logo {
  border-radius: 50%;
  max-height: 3.5rem;
  border: 1px solid lightgrey;
}
@media (min-width: 62.5rem) {
  .logo {
    max-height: 4.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.form__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  min-width: 100%;
}
.form__field .field__label {
  align-self: start;
}
.form__field .field__input {
  padding: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  min-width: 100%;
}
.form__field .field__input:focus {
  outline: 2px solid #662dbc;
}
.form button[type=submit] {
  margin-top: 1rem;
  min-width: 100%;
}

@media (min-width: 62.5rem) {
  .form-login {
    min-width: 30rem;
  }
}

.button-4, .button-3, .button-2, .button-1 {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  border: transparent;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.button-1 {
  padding: 0.75rem 3rem;
  color: white;
  background-color: #662dbc;
  min-width: 100%;
}
@media (min-width: 43.75rem) {
  .button-1 {
    min-width: fit-content;
  }
}

.button-2 {
  color: #662dbc;
  min-width: 100%;
}
@media (min-width: 43.75rem) {
  .button-2 {
    min-width: fit-content;
  }
}

.button-3 {
  padding: 0.8125rem 1.25rem;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid lightgrey;
  border-radius: 2rem;
}
.button-3 .highlight {
  color: #662dbc;
  margin-left: 0.5rem;
}

.button-4 {
  border-radius: 0;
  color: #662dbc;
  background-color: white;
  border-bottom: 1px solid #662dbc;
}

.button-5 {
  text-decoration: none;
  color: white;
}

.page {
  display: grid;
  min-height: 100%;
}
.page .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-wrap: wrap;
}
.page .side-content {
  display: none;
  background-color: #662dbc;
}
@media (min-width: 62.5rem) {
  .page .side-content {
    display: block;
  }
}
@media (min-width: 62.5rem) {
  .page {
    grid-template-columns: 60% 40%;
  }
}

/*# sourceMappingURL=login.css.map */
