*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* This mixin is for call to action buttons/anchors
   Doesn't necessarily have to be a button */
body {
  font-family: "Inter", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

section#hero, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
section#hero .max-width, section .max-width {
  max-width: 81.25rem;
}
section#hero .black-muted, section .black-muted {
  color: rgba(0, 0, 0, 0.75);
}

section header:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.25;
}
section header:first-child h1 {
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  text-align: left;
  font-weight: 600;
}
section header:first-child h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
section p {
  font-size: 1.25rem;
}

section#hero header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.25;
  margin-bottom: 1rem;
}
section#hero header h1 {
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  text-align: left;
  font-weight: 600;
}
section#hero header h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}
section#hero .content {
  max-width: 70ch;
}
section#hero .content p {
  font-size: 1.5rem;
}

.cards {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.cards li {
  flex-basis: 100%;
}
@media (min-width: 50rem) {
  .cards li {
    flex-basis: 22.5rem;
  }
}

.card {
  padding: 2rem;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
}
.card .card__image {
  max-width: 4.25rem;
  border-radius: 100%;
  margin-bottom: 1.5rem;
}
.card header {
  margin-bottom: 0.5rem;
}
.card header > .card__overline {
  font-size: 0.8125rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
.card header > .card__heading {
  font-size: 1.25rem;
  font-weight: 500;
  color: black;
}
.card .card__description {
  font-size: 1.125rem;
}
.card .socials {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.card .socials .social {
  text-decoration: none;
  color: black;
  padding: 0.25rem;
  max-width: 1.75rem;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
@media (min-width: 37.5rem) {
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
  }
}

.buttons > * {
  min-width: 100%;
}
@media (min-width: 37.5rem) {
  .buttons > * {
    min-width: fit-content;
  }
}

.button-secondary, .button-primary {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.125rem;
  border-radius: 0.25rem;
  text-align: center;
}

.button-primary {
  padding: 0.75rem 3rem;
  color: white;
  background-color: #377dff;
}

.button-secondary {
  color: #377dff;
}

/*# sourceMappingURL=main.css.map */
