@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%image {
  // base styles
}

.image {
  @extend %image;

  &-about {
    @extend %image;
    width: 100%;
    max-height: 32.5rem;
    object-fit: cover;
    object-position: top;
    border-radius: tokens.$br-main;
  }
}
