@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%image {
  // base styles
  &-card {
    margin-bottom: 1.5rem;
  }

  &-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image {
  @extend %image;

  &-about {
    @extend %image;
    @extend %image-cover;
    max-height: 35rem;
    object-position: top;
    border-radius: tokens.$br-main;
  }

  &-partner {
    @extend %image;
    max-width: 12.5rem;
  }

  &-card {
    @extend %image-card;

    &-team {
      @extend %image-card;
      max-height: 4.25rem;
      border-radius: 100%;
    }

    &-blog {
      @extend %image-card;
      @extend %image-cover;
      border-radius: tokens.$br-main;
    }
  }

  &-logo {
    max-height: 4.5rem;
    max-width: 4.5rem;
    border-radius: 50%;
    border: 1px solid lightgrey;
  }

  &-login {
    @extend %image-cover;
  }
}
