@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%link {
  color: inherit;
}

.link {
  @extend %link;

  &-cta {
    @extend %link;
    padding: 0.75rem 3rem;
    border-radius: tokens.$br-main;
    background-color: tokens.$colors-brand;
    text-decoration: none;
    color: white;
  }

  &-brand {
    @extend %link;
    color: tokens.$colors-brand;
  }

  &-rounded {
    @extend %link;
    padding: 0.8125rem 1.25rem;
    border-radius: 2rem;
  }

  &-no-underline {
    @extend %link;
    @include mixins.reset-anchor();
  }
}
