@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%list-item {
  // base styles

  &-card {
    border-radius: tokens.$br-main;
  }
}

.list-item {
  @extend %list-item;

  &-card {
    @extend %list-item-card;

    &-team {
      @extend %list-item-card;
      padding: 1.75rem;
      box-shadow: tokens.$shadows-main;
    }

    &-social {
      max-width: 1.75rem;
      padding: 0 0.25rem;
      border-radius: tokens.$br-main;
      border: 1px solid lightgrey;
    }

    &-blog {
      @extend %list-item-card;
    }
  }

  &-footer {
    margin-block: 0.5rem;
    color: tokens.$colors-grey;
  }
}
