@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%paragraph {
  // base styling

  &-hero {
    max-width: 60ch;
    font-size: 1.5rem;
    color: tokens.$colors-grey;
  }
}

.paragraph {
  @extend %paragraph;

  &-hero {
    @extend %paragraph-hero;
  }
}
