@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%paragraph {
  // base styles
}

.paragraph {
  @extend %paragraph;

  &-hero {
    max-width: 60ch;
    font-size: 1.5rem;
    color: tokens.$colors-grey;
  }

  &-content {
    margin-block: 0.75rem;
    font-size: 1.25rem;
    color: tokens.$colors-grey;
  }
}
