@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%paragraph {
  // base styles
}

.paragraph {
  @extend %paragraph;

  &-hero {
    max-width: 60ch;
    font-size: 1.5rem;
    color: tokens.$colors-grey;
  }

  &-content {
    margin-block: 0.75rem;
    font-size: 1.25rem;
    color: tokens.$colors-grey;
  }

  &-banner {
    font-size: 1.25rem;
  }

  &-card {
    &-title {
      font-size: 0.875rem;
      color: tokens.$colors-grey;
      text-transform: uppercase;
    }

    &-description {
      font-size: 1.125rem;
      color: tokens.$colors-grey;

      /*
       * Limits description to 5 lines, addes ellipses if more than 5
       */

      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-popup {
    max-width: 40ch;
    color: tokens.$colors-grey;
  }
}
