@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%paragraph {
  color: tokens.$colors-grey;

  &-content {
    @extend %paragraph;
    margin-block: 0.75rem;
    font-size: 1.25rem;
  }

  &-center {
    @extend %paragraph;
    text-align: center;
  }
}

.paragraph {
  @extend %paragraph;

  &-center {
    @extend %paragraph-center;
  }

  &-hero {
    @extend %paragraph;
    max-width: 60ch;
    font-size: 1.5rem;
  }

  &-content {
    @extend %paragraph-content;
  }

  &-banner {
    @extend %paragraph;
    font-size: 1.25rem;
  }

  &-card {
    @extend %paragraph;

    &-title {
      @extend %paragraph;
      font-size: 0.875rem;
      text-transform: uppercase;
    }

    &-description {
      @extend %paragraph;
      font-size: 1.125rem;

      /*
       * Limits description to 5 lines, addes ellipses if more than 5
       */

      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-popup {
    @extend %paragraph;
    max-width: 40ch;
  }

  &-instructions {
    @extend %paragraph-content;
    @extend %paragraph-center;
    max-width: 70ch;
  }
}
