@use "../base/reset";
@use "../base/base";
@use "../mixins/mixins";
@use "../components/atoms/buttons";
@use "../components/atoms/headings";
@use "../components/atoms/links";
@use "../components/atoms/paragraphs";
@use "../components/atoms/images";
@use "../components/atoms/addresses";
@use "../components/atoms/list-items";
@use "../components/molecules/lists";
@use "../components/molecules/card";
@use "../components/molecules/containers";
@use "../components/molecules/navigation";
@use "../components/molecules/headers-simple";
@use "../components/organisms/about";
@use "../components/organisms/cards";
@use "../components/organisms/footer";
@use "../components/organisms/popup";
@use "../components/organisms/headers-complex";
@use "../components/organisms/sections";

.page {
  @include mixins.page(landing);
}
