@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

%button {
  @include mixins.reset-anchor;
  @include mixins.button();
}

.button-1 {
  @extend %button;
  padding: 0.75rem 3rem;
  color: white;
  background-color: tokens.$colors-brand;
  min-width: 100%;

  @media (min-width: tokens.$bp-hero) {
    min-width: fit-content;
  }
}

.button-2 {
  @extend %button;
  color: tokens.$colors-brand;
  min-width: 100%;

  @media (min-width: tokens.$bp-hero) {
    min-width: fit-content;
  }
}

.button-3 {
  @extend %button;
  padding: 0.8125rem 1.25rem;
  color: tokens.$colors-paragraph;
  border: 1px solid lightgrey;
  border-radius: 2rem;

  .highlight {
    color: tokens.$colors-brand;
    margin-left: 0.5rem;
  }
}

.button-4 {
  @extend %button;
  padding: 0.5rem 3rem;
  color: white;
  background-color: tokens.$colors-brand;
}

.button-5 {
  text-decoration: none;
  color: white;
  border-bottom: 1.5px solid white;
}
