@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

.buttons {
  &-hero {
    @include mixins.flex(row, center, center, 1rem);
    margin-top: 1.5rem;
    min-width: 100%;

    @media (min-width: tokens.$bp-hero) {
      @include mixins.flex(row, center, center, 2rem);
    }
  }

  &-section {
    @include mixins.flex(row, center, center);
    margin-top: 3rem;
  }
}
