@use "../../tokens/tokens" as tokens;
@use "../../mixins/mixins" as mixins;

.card {
  color: tokens.$colors-paragraph;
  border-radius: tokens.$br-main;
  background-color: white;
  transition: all 0.125s ease-in-out;
  flex-basis: 100%;

  @media (min-width: 37.5rem) {
    flex: 1 1 22.5rem;
    max-width: 30rem;
  }

  &:hover {
    transform: translateY(-0.25rem);
  }

  .card__image {
    margin-bottom: 1.5rem;
  }

  header {
    margin-bottom: 0.5rem;
  }

  header .card__overline {
    font-size: 0.8125rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }

  header .card__heading {
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
  }

  .card__description {
    font-size: 1.125rem;
    display: -webkit-box; /* set the display type to box */
    -webkit-line-clamp: 5; /* set the maximum number of lines */
    -webkit-box-orient: vertical; /* set the orientation to vertical */
    overflow: hidden; /* hide the overflowing text */
    text-overflow: ellipsis; /* add ellipses if the text overflows */
  }
}

.card.card-team {
  padding: 2rem;
  box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);

  .card__image {
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 100%;
  }

  .socials {
    @include mixins.reset-list();
    @include mixins.flex(row, center, flex-start, 1rem);
    margin-top: 2rem;

    .social {
      @include mixins.reset-anchor;
      padding: 0.25rem;
      max-width: 1.75rem;
      border: 1px solid lightgrey;
      border-radius: tokens.$br-main;
    }
  }
}

.card.card-blog {
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: tokens.$br-main;
  }
}
