/* This mixin is for call to action buttons/anchors
   Doesn't necessarily have to be a button */

@use "../tokens/tokens" as tokens;

@mixin button() {
  font-weight: 500;
  font-size: 1.125rem;
  border: transparent;
  border-radius: tokens.$br-main;
  text-align: center;
  cursor: pointer;
}
