@mixin flex($direction, $alignItems, $justifyContent, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
  gap: $gap;
  flex-wrap: wrap;
}
