@mixin header($hero: false) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  line-height: 1.25;

  h1 {
    font-size: clamp(2.57rem, 3.125vw, 3.5rem);
    font-weight: 600;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 500;

    @media (min-width: 62.5rem) {
      font-size: clamp(1.5rem, 1.75rem, 2rem);
    }
  }

  @if ($hero) {
    margin-bottom: 1rem;
  }
}
