@mixin header($hero: false) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  line-height: 1.25;

  h1 {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    text-align: left;
    font-weight: 600;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
  }

  @if ($hero) {
    margin-bottom: 1rem;
  }
}
