@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.about {
  font-size: 1.25rem;

  .max-width {
    display: grid;
    gap: 1rem;
    place-items: center end;

    .content__container {
      @include mixins.flex(column, flex-start, space-between);

      header {
        min-width: 100%;
        margin-bottom: 1rem; // changed from default header mixin

        h2 {
          @media (min-width: tokens.$bp-about) {
            text-align: left;
            align-self: flex-start;
          }
        }
      }
    }

    .image__container {
      width: 100%;
      height: 100%;
      max-height: 30rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: tokens.$br-main;
        box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
      }

      @media (min-width: tokens.$bp-about) {
        max-height: 32.5rem; // change this depending on height of content
      }
    }

    @media (min-width: tokens.$bp-about) {
      grid-template-columns: repeat(2, 1fr);
      gap: 6rem;
    }
  }
}
