@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.about {
  font-size: 1.25rem;

  .max-width {
    display: grid;
    gap: 1rem;
    place-items: center end;

    .content__container {
      @include mixins.flex(column, flex-start, space-between);
    }

    .image__container {
      width: 100%;
      height: 100%;
      max-height: 30rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: tokens.$br-main;
        box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
      }

      @media (min-width: 75rem) {
        max-height: 100%;
      }
    }

    @media (min-width: 75rem) {
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
    }
  }
}
