@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.banner {
  @include mixins.section();
  @include mixins.flex(row, center, center);
  background-color: tokens.$colors-brand-muted;
  margin-inline: 1rem;
  margin: 0 1rem 0 1rem; // fallback
  border-radius: tokens.$br-main;

  @media (min-width: 62.5rem) {
    margin-inline: min(3vw, 3rem);
    margin: 0 min(3vw, 3rem) 0 min(3vw, 3rem); // falback
  }
}

.banner .stats {
  @include mixins.reset-list;
  @include mixins.flex(column, center, center, 2rem);

  @media (min-width: 62.5rem) {
    @include mixins.flex(row, center, center, min(10rem, 10vw));
  }
}

.stats > .stat {
  @include mixins.flex(column, center, center);
  flex: 1; // fill the container

  .stat__heading {
    font-size: 3.5rem;
    font-weight: 500;
  }

  .stat__description {
    @include mixins.content-paragraph();
  }
}
