@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.form {
  @include mixins.flex(column, center, center);
  gap: 1.5rem;

  & * {
    min-width: 100%;
  }

  &__fieldset {
    @include mixins.flex(column, center, center, 0.5rem);

    .fieldset__label {
      align-self: start;
    }

    .fieldset__input {
      padding: 0.5rem;
      border: 1px solid lightgrey;
      border-radius: tokens.$br-main;

      &:focus {
        outline: 2px solid tokens.$colors-brand;
      }
    }
  }

  button[type="submit"] {
    margin-top: 1rem;
    min-width: 100%;
  }
}

.form-login {
  @media (min-width: tokens.$bp-login-form) {
    min-width: 30rem;
  }
}
