@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.hero {
  @include mixins.flex(row, center, center, 1rem);
  min-height: fit-content;
  text-align: left;
  color: black;

  h1 {
    font-size: clamp(2.75rem, 3.125vw, 3.5rem);
    font-weight: 600;
  }

  .buttons {
    font-size: 1.25rem;
  }

  & > * {
    z-index: 100;
  }

  .max-width {
    @include mixins.flex(row, center, center);

    header {
      margin-bottom: 2rem;
    }
  }

  header,
  .content__container {
    max-width: 85ch;

    @media (min-width: 90.625rem) {
      max-width: 100ch;
    }
  }

  header {
    @include mixins.header();
  }

  .content__container {
    @include mixins.flex(column, center, center);

    p {
      font-size: 1.5rem;
      color: rgb(0, 0, 0, 0.85);
    }
  }

  img {
    display: none;
  }

  @media (min-width: tokens.$bp-hero) {
    text-align: center;
    min-height: 80vh;
  }
}
