@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.hero {
  @include mixins.flex(row, center, center, 1rem);
  min-height: fit-content;
  position: relative;

  @media (min-width: 62.5rem) {
    min-height: 80vh;
  }

  header {
    @include mixins.header(hero);
  }

  .content {
    p {
      font-size: 1.5rem;
    }
  }

  .image {
    display: none;
  }
}
