@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.hero {
  @include mixins.flex(row, center, center, 1rem);
  position: relative;
  min-height: fit-content;
  text-align: left;
  background: center / cover url("../../assets/hero.jpg");
  color: white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
  }

  .buttons {
    font-size: 1.25rem;
  }

  & > * {
    z-index: 100;
  }

  @media (min-width: 62.5rem) {
    min-height: 80vh;
  }

  .max-width {
    @include mixins.flex(row, center, center);
    position: relative;

    @media (max-width: 62.5rem) {
      padding-top: 3rem;
    }
  }

  header,
  .content {
    max-width: 100ch;
  }

  header {
    @include mixins.header(hero);
  }

  .content {
    @include mixins.flex(column, center, center);

    p {
      font-size: 1.5rem;
    }
  }

  @media (min-width: tokens.$bp-hero) {
    text-align: center;
    // min-height: 60rem;
  }

  .images img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
    display: none;

    @media (min-width: 62.5rem) {
      position: absolute;
      // display: block;

      &:nth-child(1) {
        bottom: -3rem;
        left: 50%;
        transform: translate(-50%, 0);
      }

      &:nth-child(2) {
        bottom: 3rem;
        left: -2rem;
      }

      &:nth-child(3) {
        bottom: 3rem;
        right: -2rem;
      }

      &:nth-child(4) {
        top: -3rem;
        left: 50%;
        transform: translate(-50%, 0);
      }

      &:nth-child(5) {
        top: 3rem;
        left: -2rem;
      }

      &:nth-child(6) {
        top: 3rem;
        right: -2rem;
      }
    }
  }
}
