@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.navbar {
  @include mixins.flex(row, center, center);
  padding: 1rem 0 1rem 0; // fallback
  padding-block: 1rem;
  min-width: 100%;
  font-size: 1.25rem;

  nav {
    @include mixins.flex(row, center, space-between);
  }

  nav > ul {
    @include mixins.reset-list();
    display: none;

    a {
      @include mixins.reset-anchor();

      &.button-1 {
        color: white;
      }
    }

    @media (min-width: 40.625rem) {
      @include mixins.flex(row, center, center, 4);
    }
  }
}
