@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.navbar {
  @include mixins.flex(row, center, center);
  position: absolute;
  padding: 1rem 0 1rem 0; // fallback
  padding-block: 1rem;
  min-width: 100%;
  z-index: 100;
  font-size: 1.25rem;

  nav {
    @include mixins.flex(row, center, space-between);
  }

  nav > ul {
    @include mixins.reset-list();
    display: none;

    a {
      @include mixins.reset-anchor();
      color: white;
    }

    @media (min-width: 62.5rem) {
      @include mixins.flex(row, center, center, 4rem);
    }
  }
}
