@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.partners {
  .partners__list {
    @include mixins.reset-list();
    @include mixins.flex(row, center, center, 5);

    .partner {
      @include mixins.flex(row, center, center);
      flex-basis: 12.5rem;
      padding-block: 1rem;
    }

    @media (min-width: 68.75rem) {
      @include mixins.flex(row, center, space-between, 5);
    }
  }
}
