@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.popup[open] {
  @include mixins.flex(column, center, center, 1.125rem);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 100%;
  padding: 1.25rem;
  font-size: 1.25rem;
  text-align: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: tokens.$br-main;
  box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);

  h2 {
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 500;
  }

  p {
    font-size: 1.125rem;
    color: tokens.$colors-paragraph;
  }

  @media (min-width: 50rem) {
    min-width: fit-content;
    margin-bottom: 1rem;
  }
}
