@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

.popup[open] {
  @include mixins.flex(column, center, center, 1.5rem);
  padding: 2rem;
  position: fixed;
  border: transparent;
  text-align: center;
  color: black;
  font-size: 1.25rem;
  background-color: white;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid lightgrey;
  border-radius: tokens.$br-main;
  box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);

  h2 {
    line-height: 1;
    font-size: 1.25rem;
    font-weight: 500;
  }

  p {
    font-size: 1.125rem;
    color: tokens.$colors-paragraph;
  }
}
