@use "../mixins/mixins" as mixins;
@use "../tokens/tokens" as tokens;

section:not(#hero) {
  @include mixins.flex(column, center, center, 1rem);
  padding-block: 7.5rem;
  padding: 7.5rem 0 7.5rem 0; // fallback

  header:first-child {
    @include mixins.header();
  }
}
