@use "../tokens/tokens" as tokens;
@use "../mixins/mixins" as mixins;

body {
  font-family: tokens.$ff-main;
}

.max-width {
  @include mixins.max-width();
  padding-inline: 1rem;
  padding: 0 1rem 0 1rem; // fallback
}

.content-paragraph {
  @include mixins.content-paragraph();
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
