@use "../tokens/tokens" as tokens;
@use "../mixins/mixins" as mixins;

html,
body {
  height: 100%;
}

body {
  font-family: tokens.$ff-main;
}

.logo {
  border-radius: 50%;
  max-height: 3.5rem;
  border: 1px solid lightgrey;

  @media (min-width: 62.5rem) {
    max-height: 4.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
