@use "../tokens/tokens" as tokens;
@use "../mixins/mixins" as mixins;

body {
  font-family: tokens.$ff-main;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
