@use "../../mixins/mixins" as mixins;
@use "../../tokens/tokens" as tokens;

.banner {
  @include mixins.section();
  @include mixins.flex(row, center, center);
  border-radius: tokens.$br-main;
  background-color: tokens.$colors-brand-muted;
  margin-inline: 1rem;

  .max-width {
    padding: 2rem;

    @media (min-width: 87.5rem) {
      padding-inline: 0;
    }
  }
}

.banner .stats {
  @include mixins.reset-list;
  @include mixins.flex(column, center, center, 5);
  text-align: center;

  @media (min-width: 53.125rem) {
    @include mixins.flex(row, center, space-between, 5);
  }
}

.stats > .stat {
  @include mixins.flex(column, center, center);

  .stat__heading {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1;
  }
}
