@use "../../mixins/mixins" as mixins;
@use "../../tokens/tokens" as tokens;

/*
 * This is the complex version of the headers component.
 * Used mainly for navigation, where multiple molecules can be stored.
 */

.header-complex {
  &-navigation {
    @include mixins.flex(row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
