@use "../../mixins/mixins" as mixins;
@use "../../tokens/tokens" as tokens;

.hero {
  @include mixins.flex(row, center, center, 1);
  text-align: left;
  font-size: 1.25rem;

  .container {
    @include mixins.flex(column, center, center, 2);

    .heading {
      font-size: clamp(2.75rem, 3.125vw, 3.5rem);
      font-weight: 600;
      line-height: 1;
    }

    .description {
      font-size: 1.5rem;
      max-width: 60ch;
      color: tokens.$colors-paragraph;
    }
  }

  @media (min-width: tokens.$bp-hero) {
    text-align: center;
    min-height: 80vh;
  }
}
