@use "../../mixins/mixins" as mixins;
@use "../../tokens/tokens" as tokens;

%navigation {
  // base styling

  &-main {
    @include mixins.flex(row, center, center);
    padding-block: 1rem;
    font-size: 1.25rem;
    color: tokens.$colors-brand;

    .button-cta {
      color: white;
    }

    .navigation {
      @include mixins.flex(row, center, space-between);
    }

    .list-nav {
      display: none;

      @media (min-width: tokens.$bp-main-nav) {
        @include mixins.flex(row, center, center, 4);
      }
    }
  }
}

.navbar {
  @extend %navigation;

  &-main {
    @extend %navigation-main;
  }
}
