@use "../../mixins/mixins" as mixins;
@use "../../tokens/tokens" as tokens;

%section {
  @include mixins.section();
}

.section {
  @extend %section;

  &-hero {
    @extend %section;
    @include mixins.flex(row, center, center, 1);
    text-align: left;
    background-color: #e6deee;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

    @media (min-width: tokens.$bp-main-nav) {
      text-align: center;
      min-height: min(70rem, 70vh);
    }
  }

  &-about {
    @extend %section;
  }

  &-banner {
    @extend %section;
    margin-inline: 1rem;
    background-color: tokens.$colors-brand-muted;
    border-radius: tokens.$br-main;
  }

  &-footer {
    // base styles

    &-navigation {
      @include mixins.flex(column, flex-start, center, 2);

      @media (min-width: 46.875rem) {
        @include mixins.flex(row, flex-start, center, 10, wrap);
      }
    }

    &-copywrite {
      padding-block: 3rem;

      p {
        max-width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
