@use "./base/reset";
@use "./base/base";
@use "./components/navbar";
@use "./components/hero";
@use "./components/section";
@use "./components/banner";
@use "./components/partners";
@use "./components/cards/cards";
@use "./components/cards/card";
@use "./components/footer";
@use "./components/popup";
@use "./components/buttons/buttons";
@use "./components/buttons/button";
